main {
  max-width: 1280px;
  margin: auto;
  min-height: 90vh;
  padding: 10px;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details {
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  color: #fff;
  padding: 24px;
}

.btn-primary:hover {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
  color: #fff;
}

.btn-primary {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.product-image {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.search-container {
  position: relative;
}

.search-result {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.search-result .list-item-link {
  color: #333; /* Adjust link color */
}

.search-result .list-item-link:hover {
  background-color: #f4f4f4; /* Adjust hover background color */
}
